body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#000;
  background-image: url("http://p1.pichost.me/i/29/1522515.jpg");
  background-position: bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title{
  display: block;
  padding:5px 12px;
  text-align: center;
}

.button{
  padding:5px 12px;
  display: inline-block;
}
.button {
  text-decoration: none;
}
.topbar{
  height:64px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  height: 0px;
  width: 0px;
  border:20px solid red;
  border-radius: 50%;
  position:absolute;
  background-size: contain;
  background-position: center;
}

.shy {
  border: none;
  background-image: url("http://i.imgur.com/IZKG3p2.gif");
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 0;
}

.swing {
  border: none;
  background-image: url("http://i.imgur.com/UZVaow9.gif");
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 0;
}

.blinky {
  border: none;
  background-image: url("http://i.imgur.com/MQY8d98.gif");
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  border-radius: 0;
}

.roaming {
  border: none;
  background-image: url("http://i.imgur.com/Y1Hi9OC.gif");
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 0;
}

.rainbow {

}

.jump {
  border: none;
  background-image: url("http://i.imgur.com/y9Rx2AD.gif");
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  border-radius: 0;
}
/*Applejack*/
/*http://i.imgur.com/FfJoeNh.gif*/


