body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#000;
  background-image: url("http://p1.pichost.me/i/29/1522515.jpg");
  background-position: bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title{
  display: block;
  padding:5px 12px;
  text-align: center;
}

.button{
  padding:5px 12px;
  display: inline-block;
}
.button {
  text-decoration: none;
}
.topbar{
  height:64px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  height: 0px;
  width: 0px;
  border:20px solid red;
  border-radius: 50%;
  position:absolute;
  background-position: center;
}

.shy {
  border: none;
  background-image: url("http://i.imgur.com/REzUgcx.gif");
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  border-radius: 0;

}

.swing {
  border: none;
  background-image: url("http://i.imgur.com/qdV5FmW.gif");
  background-repeat: no-repeat;
  height: 70px;
  width: 65px;
  border-radius: 0;

}

.blinky {
  border: none;
  background-image: url("http://i.imgur.com/MQY8d98.gif");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 0;

}

.roaming {
  border: none;
  background-image: url("http://i.imgur.com/BRyVroh.gif");
  background-repeat: no-repeat;
  height: 80px;
  width: 60px;
  border-radius: 0;
}

.rainbow {

}

.jump {
  border: none;
  background-image: url("http://i.imgur.com/iJaBPtO.gif");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  border-radius: 0;
}

.break {
  border: none;
  background-image: url("http://i.imgur.com/iJaBPtO.gif");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  border-radius: 0;
}

.front-flip {
  -webkit-animation: 'front-flip' 1s 1;
     -moz-animation: 'front-flip' 1s 1;
          animation: 'front-flip' 1s 1;
}

@-webkit-keyframes front-flip {
  0% {
    transform: translateY(0) rotateX(0deg);
  }
  50% {
    transform: translateY(-50px) rotateX(180deg);
  }
  100% {
    transform: translateY(0) rotateX(360deg);
  }
}
@-moz-keyframes front-flip {
  0% {
    transform: translateY(0) rotateX(0deg);
  }
  50% {
    transform: translateY(-50px) rotateX(180deg);
  }
  100% {
    transform: translateY(0) rotateX(360deg);
  }
}
@keyframes front-flip {
  0% {
    transform: translateY(0) rotateX(0deg);
  }
  50% {
    transform: translateY(-50px) rotateX(180deg);
  }
  100% {
    transform: translateY(0) rotateX(360deg);
  }
}

.spin-flip {
  -webkit-animation: 'spin-flip' 1s 1;
     -moz-animation: 'spin-flip' 1s 1;
          animation: 'spin-flip' 1s 1;
}

@-webkit-keyframes spin-flip {
  0% {
    transform: translateY(0) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: translateY(-50px) rotate3d(1, 1, 0, 180deg);
  }
  100% {
    transform: translateY(0) rotate3d(1, 1, 0, 360deg);
  }
}
@-moz-keyframes spin-flip {
  0% {
    transform: translateY(0) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: translateY(-50px) rotate3d(1, 1, 0, 180deg);
  }
  100% {
    transform: translateY(0) rotate3d(1, 1, 0, 360deg);
  }
}
@keyframes spin-flip {
  0% {
    transform: translateY(0) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: translateY(-50px) rotate3d(1, 1, 0, 180deg);
  }
  100% {
    transform: translateY(0) rotate3d(1, 1, 0, 360deg);
  }
}

.rev-spin-flip {
  -webkit-animation: 'rev-spin-flip' 1s 1;
     -moz-animation: 'rev-spin-flip' 1s 1;
          animation: 'rev-spin-flip' 1s 1;
}

@-webkit-keyframes rev-spin-flip {
  0% {
    transform: translateY(0) rotate3d(1, -1, 0, 0deg);
  }
  50% {
    transform: translateY(-50px) rotate3d(1, -1, 0, 180deg);
  }
  100% {
    transform: translateY(0) rotate3d(1, -1, 0, 360deg);
  }
}
@-moz-keyframes rev-spin-flip {
  0% {
    transform: translateY(0) rotate3d(1, -1, 0, 0deg);
  }
  50% {
    transform: translateY(-50px) rotate3d(1, -1, 0, 180deg);
  }
  100% {
    transform: translateY(0) rotate3d(1, -1, 0, 360deg);
  }
}
@keyframes rev-spin-flip {
  0% {
    transform: translateY(0) rotate3d(1, -1, 0, 0deg);
  }
  50% {
    transform: translateY(-50px) rotate3d(1, -1, 0, 180deg);
  }
  100% {
    transform: translateY(0) rotate3d(1, -1, 0, 360deg);
  }
}

.floor-spin {
  -webkit-animation: 'floor-spin' 1s 1;
     -moz-animation: 'floor-spin' 1s 1;
          animation: 'floor-spin' 1s 1;
}

@-webkit-keyframes floor-spin {
  0% {
    transform: translateY(0) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(25px) rotateY(0deg) rotateZ(-90deg);
  }
  75% {
    transform: translateY(25px) rotateY(360deg) rotateZ(-90deg);
  }
  100% {
    transform: translateY(0) rotateY(360deg) rotateZ(0deg);
  }
}
@-moz-keyframes floor-spin {
  0% {
    transform: translateY(0) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(25px) rotateY(0deg) rotateZ(-90deg);
  }
  75% {
    transform: translateY(25px) rotateY(360deg) rotateZ(-90deg);
  }
  100% {
    transform: translateY(0) rotateY(360deg) rotateZ(0deg);
  }
}
@keyframes floor-spin {
  0% {
    transform: translateY(0) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(25px) rotateY(0deg) rotateZ(-90deg);
  }
  75% {
    transform: translateY(25px) rotateY(360deg) rotateZ(-90deg);
  }
  100% {
    transform: translateY(0) rotateY(360deg) rotateZ(0deg);
  }
}

.rev-floor-spin {
  -webkit-animation: 'rev-floor-spin' 1s 1;
     -moz-animation: 'rev-floor-spin' 1s 1;
          animation: 'rev-floor-spin' 1s 1;
}

@-webkit-keyframes rev-floor-spin {
  0% {
    transform: translateY(0) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(25px) rotateY(0deg) rotateZ(90deg);
  }
  75% {
    transform: translateY(25px) rotateY(-360deg) rotateZ(90deg);
  }
  100% {
    transform: translateY(0) rotateY(-360deg) rotateZ(0deg);
  }
}
@-moz-keyframes rev-floor-spin {
  0% {
    transform: translateY(0) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(25px) rotateY(0deg) rotateZ(90deg);
  }
  75% {
    transform: translateY(25px) rotateY(-360deg) rotateZ(90deg);
  }
  100% {
    transform: translateY(0) rotateY(-360deg) rotateZ(0deg);
  }
}
@keyframes rev-floor-spin {
  0% {
    transform: translateY(0) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(25px) rotateY(0deg) rotateZ(90deg);
  }
  75% {
    transform: translateY(25px) rotateY(-360deg) rotateZ(90deg);
  }
  100% {
    transform: translateY(0) rotateY(-360deg) rotateZ(0deg);
  }
}

.head-spin {
  -webkit-animation: 'head-spin' 1s 1;
     -moz-animation: 'head-spin' 1s 1;
          animation: 'head-spin' 1s 1;
}

@-webkit-keyframes head-spin {
  0% {
    transform: translateY(0) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(20px) rotateY(0deg) rotateZ(-180deg);
  }
  75% {
    transform: translateY(20px) rotateY(360deg) rotateZ(-180deg);
  }
  100% {
    transform: translateY(0) rotateY(360deg) rotateZ(0deg);
  }
}
@-moz-keyframes head-spin {
  0% {
    transform: translateY(0) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(20px) rotateY(0deg) rotateZ(-180deg);
  }
  75% {
    transform: translateY(20px) rotateY(360deg) rotateZ(-180deg);
  }
  100% {
    transform: translateY(0) rotateY(360deg) rotateZ(0deg);
  }
}
@keyframes head-spin {
  0% {
    transform: translateY(0) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(20px) rotateY(0deg) rotateZ(-180deg);
  }
  75% {
    transform: translateY(20px) rotateY(360deg) rotateZ(-180deg);
  }
  100% {
    transform: translateY(0) rotateY(360deg) rotateZ(0deg);
  }
}
